<h1>Admin::Customers#index</h1>

<h1>会員一覧</h1>

<% @customers.each do |customer| %>

<p>会員id:<%= customer.id%></p>

<p>氏名:<%= link_to f.collection_select :customer_id, customer, :id, :full_name,admin_customer_path %></p>

<p>メールアドレス:<%= customer.email%></p>


<p>ステータス</p>
<%= customer.is_active ? '有効' : '退会'%>

<%end%>
